

.flex{
  width: 65%;
  height: 60vh;
  margin: auto;
  margin-bottom: 20vh;
  margin-top: 20vh; 
  display:flex;
  flex-direction:column ;
  justify-content:center;
  border: 1px solid black;
  padding: 2% 0;
}

.flex-item{
  display: flex;
  width: 50vw;
  margin: auto;
  align-items: center;
  
}